@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 4% 6%; /* #0E0E10 */
    --foreground: 240 5% 80%; /* #CCCCCC */

    --card: 240 2% 10%; /* #1A1A1C with some transparency */
    --card-foreground: 240 5% 90%;

    --popover: 240 4% 6%;
    --popover-foreground: 240 5% 90%;

    --primary: 195 100% 50%; /* #00AFFF */
    --primary-foreground: 240 4% 10%;

    --secondary: 240 2% 10%;
    --secondary-foreground: 240 5% 90%;

    --muted: 240 2% 20%;
    --muted-foreground: 240 5% 50%; /* #777777 */
    
    --accent: 195 100% 50% / 0.1;
    --accent-foreground: 195 100% 50%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 2% 20%;
    --input: 240 2% 10%; /* #1A1A1C */
    --ring: 195 100% 50%;

    --radius: 0.8rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .glass-card {
    @apply bg-card/60 border border-solid border-white/10 shadow-[0_8px_32px_0_rgba(0,0,0,0.37)];
    backdrop-filter: blur(4px);
  }
}
